name: Update umap

on:
  schedule:
  - cron: '0 0 * * 2' # every Tuesday at midnight
  workflow_dispatch:
    inputs: null

jobs:
  update_umap:
    strategy:
      matrix:
        python-version: [ "3.10", "3.13" ]
        os: [ ubuntu-latest ] # can't use macOS when using service containers or container jobs
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv pip install torch --index-url https://download.pytorch.org/whl/cpu --system
        uv pip install git+https://github.com/databio/bedboss.git@umap_model#egg=bedboss --system
#        uv pip install bedboss --system

    - name: Update umap
      run: |
        bedboss --version
        bedboss download-umap --config config.yaml --output-file umap/hg38_umap.json
      env:
        POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
        POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
        QDRANT_HOST: ${{ secrets.QDRANT_HOST }}
        QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
        AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Add to huggingface repo
      run: |
        pip install huggingface_hub
        python upload_hf.py umap
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}

#    - name: Commit report
#      run: |
#        git config --global user.name 'Oleksandr Khoroshevskyi'
#        git config --global user.email 'khoroshevskyi@users.noreply.github.com'
#        git add -A
#        git commit -m "Automated update of number of files"
#        git push
