name: GEO beds cron upload

on:
  schedule:
    # run every day at 18:00
    - cron: '0 18 * * *'

  workflow_dispatch:


jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.12" ]
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv pip install torch==2.3.1+cpu -f https://download.pytorch.org/whl/torch_stable.html --system
          uv pip install bedboss --system
          # uv pip install git+https://github.com/databio/bedboss.git@dev#egg=bedboss --system
          #           @
          

      - name: Get current date and date 2 days ago
        id: dates
        run: |
          echo "current_date=$(date +'%Y/%m/%d')" >> $GITHUB_ENV
          echo "date_2_days_ago=$(date -d '3 days ago' +'%Y/%m/%d')" >> $GITHUB_ENV

      - name: Print dates
        run: |
          echo "Hello, ${{ github.actor }}"
          echo "currect date: ${{ env.current_date }}"
          echo "date 2 days ago: ${{ env.date_2_days_ago }}"

      - name: Upload Project
        run: bedboss geo upload-all --outfolder /tmp/out --start-date ${{ env.date_2_days_ago }} --end-date ${{ env.current_date }} --geo-tag series --no-use-skipper --lite --bedbase-config config.yaml --no-use-skipper --no-preload

        env:
          POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          QDRANT_HOST: ${{ secrets.QDRANT_HOST }}
          QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
          AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
